body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}
.game_start {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
    top: 0;
    left: 50%;
    transform: translate(-50% ,5%);
    border-radius: 20px;
    background: #00ff57;
    display: flex;
}
.img{
    position: relative;
    width: 150px;
    height: 150px;
    left: 0%;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px dotted #ffffff;
    overflow: hidden;
}
.img_cover{
    position: absolute;
    left: 0;
    width: 150px;
    height: auto;
}
#name {
    position: relative;
    background: none;
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    font-size: 40px;
    color: #1000ff;
    text-align: center;
    border-bottom: 2px dotted #fff;
}
.button_play {
    position: relative;
    display: block;
    width: 100px;
    height: 50px;
    background: red;
    outline: none;
    border: none;
    font-size: 30px;
    color: #fff;
    border-radius: 20px;
    border-radius: 30px;
    font-family: Georgia;
    margin-top: 10px;
    left: 37%;
    transform: transform(-50% -50%);
}
.button_play:hover{
 background: #fff;
 color: red;
 
}
.info_box {
    position: relative;
    width: 350px;
    height: 350px;
    top: 0%;
    left: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translate(-50% ,5%);
    border-radius: 20px;
    background: #00ffd9;
    display: none;
}
.img_div {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50% ,1%);
    overflow: hidden;
}
.img_info {
    position: absolute;
    width: 100px;
    height: auto;
    left: 0;
    
}
.Hey {
    font-size: 30px;
    color: #fff;
}
.info_box ul {
    text-align: left;
    color: blue;
    font-size: 18px;
    line-height: 1.5fr;
}
.info_box ul li span {
    color: rgb(215,0,233);
}
.ext {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: #00ff86;
    color: #fff;
    font-size: 20px;
}
/* start share game  */
.share_game {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgb(151,209,191);
}
.share_game_start {
    position: relative;
    top: 0%;
    left: 50%;
    width: 350px;
    height: 500px;
    transform: translate(-50% ,0%);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    background:rgb(6,191,255);
    overflow: hidden;
    display: none;
}
/*  name_board  */
.name_board {
    position: relative;
    text-align: center;
    width: 350px;
    height: 40px;
  
}
.name_board h1{
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
  
}
.main_img {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px dotted #fff;
    border-radius: 50%;
    top: 0;
    left: 35%;
    z-index: -1;
    overflow: hidden;
}
.m_img {
    position: absolute;
    width: 100px;
    height: auto;
    top: 0;
    left: 0;
    
}


/*  score_board  */
.score_board{
    position: relative;
    display: flex;
    width: 350px;
    height: 100px;
    text-align: center;

}
.player1 {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 90px;
    width: 150px;
    border-radius: 20px;
    text-align: center;
    color: #00ff9d;
    font-size: 10px;
}
.player2 {
    position: absolute;
    top: 30px;
    right: 10px;
    height: 90px;
    width: 150px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font-size: 10px;
}
.you,.com {
    position: relative;
    display: block;
    top: 0px;
    left: 30%;
    width: 60px;
    font-size: 30px;
    margin: 0;
    text-align: center;
    border: 2px solid green;
    border-radius: 15px;
    color: #fff;
    
}

/*  show_board  */
.show_board {
    position: relative;
    display: flex;
    width: 350px;
    height: 100px;
    top: 10px;
    overflow: hidden;
}
.left_board {
    position: absolute;
    top: 5px;
    width: 150px;
    height: 90px;
}
.right_board {
    position: absolute;
    top: 5px;
    right: 0;
    width: 150px;
    height: 90px;
}

 .left_board h1{
    position: absolute;
    font-size: 70px;
    top: -35px;
    }
 .right_board h1{
    position: absolute;
    font-size: 70px;
    top: -35px;
    right: 0;
    }
    .football, .football2 {
        z-index: 3;
    }
    
/*  control*/
.all_fingers,.noo_fingers,.two_fingers {
    position: absolute;
    display: none;
    animation: left_animation 1s ease forwards;
}
 .two_fingers2, .all_fingers2, .no_fingers2 {
     position: absolute;
     display: none;
     animation: right_animation  1s ease forwards;
 }

/*  text_board  */
.text_board {
    position: relative;
    width: 350px;
    height: 70px;
    text-align: center;
    justify-content: center;
}
.text_board h1{
    font-size: 40px;
    color: #00ffe6;
}
/*  button_board  */
.button_board{
    position: relative;
    display: flex;
    width: 350px;
    height: 60px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 1s ease;
}
.button_board button {
    margin-right: 10px;
    height: 40px;
    width: 90px;
    background: #363a3c17;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    color: #fff;
}
button:hover {
border: 2px solid #fff;
}
.again_button {
    position: relative;
    display: none;
}
.quiet_button {
    position: relative;
    display: none;
}
/*   result_box */
.result_box {
    position: relative;
    width: 350px;
    height: 60vh;
    background: #e6eff2;
    top: 40px;
    border-radius: 10px;
    z-index: 99;
    animation: resultkey 2s ease forwards;
    display: none;
    

}
.score_result {
    width: 350px;
    height: 80px;
}

.heading_text {
    position: absolute;
    left: 20%;
    top: 50px;
    color: #ff00cd;
    font-size: 50px;
}
.pscr {
    position: absolute;
    left: 20px;
    color: green;
}
.cscr{
 position: absolute;   
 right: 20px;
 color: green;
}
.stiker {
    position: relative;
    font-size: 80px;
 text-align: center;
    top: 60px;
}
.result_box button {
   position: relative;
   top: 20px;
   height: 50px;
   width: 90px ;
   background: #00ff56;
   border: 2px solid #1f272a;
   border-radius: 10px;
   left: 40%;
    font-size: 30px;
    color: #fff;
}
.result_box button:hover {
   border: 2px solid #fff;
    
}
/*  zoom box */
.zoom_box {
    position: relative;
    margin: 10px 5px 0px 5px;
    width: 340px;
    height: 50px;
    background: #9bf8b1;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: space;
    animation: zoom_ani 0.8s ease forwards;
    display: none;
}
  
.zoom_box button {
    position: relative;
    background: none;
    border-radius: 10px;
    width: 100px;
    margin: 5px;
    border: 2px solid #222c2f;
    font-size: 30px;
}
.zoom_box button:hover {
    border: 2px solid #fff;
    background: #00ff18;
}

@keyframes left_animation {
    0%{
        position: absolute;
        opacity: 10%;
        left: 0;
    }
    100%{
        position: absolute;
        left: 80px;
        opacity: 100%;
    }
}
@keyframes right_animation {
    0%{
        position: absolute;
        opacity: 10%;
    }
    100%{
        position: absolute;
        right: 80px;
        opacity: 100%;
    }
}

@keyframes resultkey{
    0%{
       transform: rotatex(180deg);
       opacity: 0;
    }
20%{
       transform: rotateY(0deg);
    opacity: 100%;
}
40%{
       transform: rotateY(0deg);
    
}
60%{
       transform: rotateX(20deg);
    
}
80%{
       transform: rotateX(0deg);
    
}
    100%{
    opacity: 100%;
    }
}

  @keyframes zoom_ani {
        0%{
           position: absolute;
           left: 300px
           
        }
        100%{
            position: absolute;
            left: 0;
        }
    }
    .football {
        position: absolute;
       
    }
    
        @keyframes footballplay {
        0%{
            position: absolute;
          transform: rotate(0deg);
        }
        100%{
            position: absolute;
          transform: rotate(360deg);
        }
    }
    .logo_active {
        position: fixed;
        bottom: 20px;
        left: 10px;
        font-size: 10px;
        color: #fff;
        outline: none;
        text-decoration: none;
        z-index: 999;
    }
    .logo_active:hover {
        color: red;
    }
@keyframes text_show_ani {
    0%{
        opacity: 0;
        font-size: 40px;
    }
    100%{
        opacity: 1;
        font-size: 40px;
    }
}
